.wrapper {
    display: flex;
    gap: 20px;
}

.sidebar {
    flex: 1;
    padding: 20px;
    background-color: var(--bg-soft);
}

.navbar {
    flex: 4;
}

/* Card */
.container {
    display: flex;
    flex-direction: column;
    flex: 3;
    gap: 20px;
}

.cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.rightbar {
    flex: 1;
}