.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
}

.previousBtn {
    padding: 6px;
}

.nextBtn {
    padding: 6px;
}

.pageNumber {
    font-weight: 400;
    font-size: 14px;
    color: var(--text-soft);
}