.products {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    margin-right: 20px;
    border-radius: 6px;
    background-color: var(--bg-soft);
}

.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.btnAddNewProd {
    outline: none;
    border: none;
    padding: 10px;
    border-radius: 6px;
    color: var(--text);
    background-color: #5d57c9;
}

.table {
    width: 100%;
}

.table td {
    padding: 10px;
}

.info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.avatarImage {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    object-fit: cover;
}

.actions {
    display: flex;
    align-items: center;
    gap: 10px;
}

.viewBtn {
    padding: 6px;
    background-color: teal;
    color: var(--text);
}

.deleteBtn {
    padding: 6px;
    background-color: red;
    color: var(--text);
}