.container {
    position: sticky;
    top: 20px;
}

.user {
    display: flex;
    align-items: center;
    gap: 12px;
}

.userDetail {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.avatarImage {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.username {
    font-weight: 600;
}

.userTitle {
    font-size: 12px;
    color: var(--text-soft);
}

.menuItems {
    list-style: none;
    margin-top: 20px;
}

.cat {
    font-weight: bold;
    font-size: 13px;
    color: var(--text-soft);
    margin-top: 10px;
}

.logout {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    color: black;
    background-color: none;
    gap: 6px;
    padding: 8px;
    border-radius: 12px;
    width: 100%;
}

.logout:hover {
    cursor: pointer;
    opacity: 0.8;
    background-color: red;
    color: var(--text);
}